/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
	position: relative;
}
.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
		display: none !important;
}
.Select input::-ms-clear {
	display: none !important;
}
.Select input::-ms-reveal {
	display: none !important;
}
.Select,
.Select div,
.Select input,
.Select span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.Select.is-disabled .Select-arrow-zone {
	cursor: default;
	pointer-events: none;
	opacity: 0.35;
}
.Select.is-disabled > .Select-control {
	background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
	box-shadow: none;
}
.Select.is-open > .Select-control {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #fff;
	border-color: #b3b3b3 #ccc #d9d9d9;
}
.Select.is-open > .Select-control .Select-arrow {
	top: -2px;
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}
.Select.is-searchable.is-open > .Select-control {
	cursor: text;
}
.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
	cursor: text;
}
.Select.is-focused > .Select-control {
	// background: #fff;
}
.Select.is-focused:not(.is-open) > .Select-control {
	// border-color: #007eff;
	background: #fff;
}
.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
	padding-right: 42px;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: #333;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
	cursor: pointer;
	text-decoration: none;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	color: #007eff;
	outline: none;
	text-decoration: underline;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	background: #fff;
}
.Select.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}
.Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
	border-top-color: #666;
}
.Select.Select--rtl {
	direction: rtl;
	text-align: right;
}
.Select-control {
	background-color: #fff;
	border-color: #d9d9d9 #ccc #b3b3b3;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #333;
	cursor: default;
	display: table;
	border-spacing: 0;
	border-collapse: separate;
	height: 30px !important;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.Select-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
	outline: none;
	background: #fff;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
	bottom: 0;
	color: #aaa;
	left: 0;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
  font-weight: bold;
}
.Select-input {
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.Select-input > input {
	width: 100%;
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	cursor: default;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: inherit;
	margin-top:-7px;
	outline: none;
	line-height: 17px;
	/* For IE 8 compatibility */
	padding: 8px 0 12px;
	/* For IE 8 compatibility */
	-webkit-appearance: none;
}
.is-focused .Select-input > input {
	cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
	outline: none;
}
.Select-loading-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}
.Select-loading {
	-webkit-animation: Select-animation-spin 400ms infinite linear;
	-o-animation: Select-animation-spin 400ms infinite linear;
	animation: Select-animation-spin 400ms infinite linear;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right-color: #333;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.Select-clear-zone {
	-webkit-animation: Select-animation-fadeIn 200ms;
	-o-animation: Select-animation-fadeIn 200ms;
	animation: Select-animation-fadeIn 200ms;
	color: #999;
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 17px;
}
.Select-clear-zone:hover {
	color: #D0021B;
}
.Select-clear {
	display: inline-block;
	font-size: 13px;
	line-height: 1;
}
.Select--multi .Select-clear-zone {
	width: 17px;
}
.Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 25px;
	padding-right: 5px;
}
.Select--rtl .Select-arrow-zone {
	padding-right: 0;
	padding-left: 5px;
}
.Select-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 2.5px;
	display: inline-block;
	height: 0;
	width: 0;
	position: relative;
}
.Select-control > *:last-child {
	padding-right: 5px;
}
.Select--multi .Select-multi-value-wrapper {
	display: inline-block;
}
.Select .Select-aria-only {
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}
@keyframes Select-animation-fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

.drop-up .Select-menu-outer {
	top: auto;
	bottom: 100%;
}
.Select-menu-outer {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-color: #e6e6e6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 100px;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}
.Select-menu {
	max-height: 98px;
	overflow-y: auto;
}
.Select-option {
	box-sizing: border-box;
	background-color: #fff;
	color: #666666;
	cursor: pointer;
	display: block;
	padding: 8px 10px;
	font-size: 12px;
}
.Select-option:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
	background-color: #f5faff;
	/* Fallback color for IE 8 */
	background-color: rgba(97, 98, 99, 0.04);
	color: #333;
}
.Select-option.is-focused {
	background-color: #ebf5ff;
	/* Fallback color for IE 8 */
	background-color: rgba(94, 94, 94, 0.08);
	color: #333;
}
.Select-option.is-disabled {
	color: #cccccc;
	cursor: default;
}
.Select-noresults {
	box-sizing: border-box;
	color: #999999;
	cursor: default;
	display: block;
	padding: 8px 10px;
}
.Select--multi .Select-input {
	vertical-align: middle;
	margin-left: 10px;
	padding: 0;
}
.Select--multi.Select--rtl .Select-input {
	margin-left: 0;
	margin-right: 10px;
}
.Select--multi.has-value .Select-input {
	margin-left: 5px;
}
.Select--multi .Select-value {
	background-color: #d8dadb;
	/* Fallback color for IE 8 */
	background-color: rgba(89, 90, 90, 0.08);
	border-radius: 2px;
	border: 1px solid #d5d7da;
	/* Fallback color for IE 8 */
	border: 1px solid rgba(80, 81, 82, 0.24);
	color: #000000;
	display: inline-block;
	font-size: 0.8em !important;
	line-height: 1.4;
	margin-left: 5px;
	margin-top: 5px;
	vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
	display: inline-block;
	vertical-align: middle;
}
.Select--multi .Select-value-label {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: default;
	padding: 2px 5px;
}
.Select--multi a.Select-value-label {
	color: #020407;
	cursor: pointer;
	text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
	text-decoration: underline;
}
.Select--multi .Select-value-icon {
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid #dbdee2;
	/* Fallback color for IE 8 */
	border-right: 1px solid rgba(51, 51, 51, 0.24);
	padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
	background-color: #e0e4e7;
	/* Fallback color for IE 8 */
	background-color: rgba(34, 34, 34, 0.08);
	color: #62686e;
}
.Select--multi .Select-value-icon:active {
	background-color: #cbced1;
	/* Fallback color for IE 8 */
	background-color: rgba(80, 80, 80, 0.24);
}
.Select--multi.Select--rtl .Select-value {
	margin-left: 0;
	margin-right: 5px;
}
.Select--multi.Select--rtl .Select-value-icon {
	border-right: none;
	border-left: 1px solid #bebfc0;
	/* Fallback color for IE 8 */
	border-left: 1px solid rgba(75, 76, 77, 0.24);
}
.Select--multi.is-disabled .Select-value {
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
	cursor: not-allowed;
	border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
	background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
	to {
	  transform: rotate(1turn);
	}
}
@-webkit-keyframes Select-animation-spin {
	to {
	  -webkit-transform: rotate(1turn);
	}
}




/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/

// Variables
// ------------------------------

// control options
$select-input-bg:                   #fff !default;
$select-input-bg-disabled:          #f9f9f9 !default;
$select-input-bg-focus:             $select-input-bg !default;
$select-input-border-color:         #ccc !default;
$select-input-border-radius:        4px !default;
$select-input-border-focus:         rgb(0, 0, 0) !default; // blue
$select-input-box-shadow-focus:     inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade($select-input-border-focus, 50%) !default;
$select-input-border-width:         1px !default;
$select-input-height:               30px !default;
$select-input-internal-height:      ($select-input-height - ($select-input-border-width * 2)) !default;
$select-input-placeholder:          #aaa !default;
$select-text-color:                 #333 !default;
$select-link-hover-color:           $select-input-border-focus !default;
$select-input-hover-box-shadow:     0 1px 0 rgba(0, 0, 0, 0.06) !default;

$select-padding-vertical:           8px !default;
$select-padding-horizontal:         10px !default;

// menu options
$select-menu-zindex:                1000 !default;
$select-menu-max-height:            200px !default;
$select-menu-box-shadow:            $select-input-hover-box-shadow !default;

$select-option-color:               lighten($select-text-color, 20%) !default;
$select-option-bg:                  $select-input-bg !default;
$select-option-focused-color:       $select-text-color !default;
$select-option-focused-bg:          #e7ecee !default; // pale blue
$select-option-selected-color:      $select-text-color !default;
$select-option-selected-bg:         #e3e6e9 !default; // lightest blue
$select-option-disabled-color:      lighten($select-text-color, 60%) !default;

$select-noresults-color:            lighten($select-text-color, 40%) !default;

// clear "x" button
$select-clear-size:                 floor(($select-input-height / 2)) !default;
$select-clear-color:                #999 !default;
$select-clear-hover-color:          #D0021B !default; // red
$select-clear-width:                ($select-input-internal-height / 2) !default;

// arrow indicator
$select-arrow-color:                #999 !default;
$select-arrow-color-hover:          #666 !default;
$select-arrow-width:                5px !default;

// loading indicator
$select-loading-size:               16px !default;
$select-loading-color:              $select-text-color !default;
$select-loading-color-bg:           $select-input-border-color !default;

// multi-select item
$select-item-border-radius:         2px !default;
$select-item-gutter:                5px !default;
$select-item-padding-vertical:      2px !default;
$select-item-padding-horizontal:    5px !default;
$select-item-font-size:             .6em !default;
$select-item-color:                 rgb(3, 3, 3) !default; // pale blue
$select-item-bg:                    #dddedf !default;
$select-item-border-color:          darken($select-item-bg, 10%) !default;
$select-item-hover-color:           darken($select-item-color, 5%) !default; // pale blue
$select-item-hover-bg:              darken($select-item-bg, 5%) !default;
$select-item-disabled-color:        #333 !default;
$select-item-disabled-bg:           #eeeeee !default;
$select-item-disabled-border-color: darken($select-item-disabled-bg, 10%) !default;


//
// Mixins
// ------------------------------


// Utilities

@mixin size($width, $height)
{
	width: $width;
	height: $height;
}
@mixin square($size)
{
	@include size($size, $size);
}
@mixin border-top-radius($radius)
{
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}


// Vendor Prefixes

@mixin animation($animation)
{
	-webkit-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}
@mixin box-sizing($boxmodel)
{
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

//
// Multi-Select
// ------------------------------


// Base

.Select--multi {

	// add margin to the input element
	.Select-input {
		vertical-align: middle;
		// border: 1px solid transparent;
		margin-left: $select-padding-horizontal;
		padding: 0;
	}
	&.Select--rtl .Select-input {
		margin-left: 0;
		margin-right: $select-padding-horizontal;
	}

	// reduce margin once there is value
	&.has-value .Select-input {
		margin-left: $select-item-gutter;
	}

	// Items
	.Select-value {
		background-color: $select-item-bg;
		border-radius: $select-item-border-radius;
		border: 1px solid $select-item-border-color;
		color: $select-item-color;
		display: inline-block;
		font-size: $select-item-font-size;
		margin-left: $select-item-gutter;
		margin-top: $select-item-gutter;
		vertical-align: top;
	}

	// common
	.Select-value-icon,
	.Select-value-label {
		display: inline-block;
		vertical-align: middle;
	}

	// label
	.Select-value-label {
		@include border-right-radius( $select-item-border-radius );
		cursor: default;
		padding: $select-item-padding-vertical $select-item-padding-horizontal;
	}
	a.Select-value-label {
		color: $select-item-color;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	// icon
	.Select-value-icon {
		cursor: pointer;
		@include border-left-radius( $select-item-border-radius );
		border-right: 1px solid $select-item-border-color;

		// move the baseline up by 1px
		padding: ($select-item-padding-vertical - 1) $select-item-padding-horizontal ($select-item-padding-vertical + 1);

		&:hover,
		&:focus {
			background-color: $select-item-hover-bg;
			color: $select-item-hover-color;
		}
		&:active {
			background-color: $select-item-border-color;
		}
	}

	&.Select--rtl {
		.Select-value {
		  margin-left: 0;
		  margin-right: $select-item-gutter;
		}
		.Select-value-icon {
			border-right: none;
			border-left: 1px solid $select-item-border-color;
		}
	}
}

.Select--multi.is-disabled {
	.Select-value {
		background-color: $select-item-disabled-bg;
		border: 1px solid $select-item-disabled-border-color;
		color: $select-item-disabled-color;
	}
	// icon
	.Select-value-icon {
		cursor: not-allowed;
		border-right: 1px solid $select-item-disabled-border-color;

		&:hover,
		&:focus,
		&:active {
			background-color: $select-item-disabled-bg;
		}
	}
}
